<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.htetznaing.smsunlocker"
	android:versionCode="4"
	android:versionName="1.2"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="19"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<application
		android:icon="@drawable/icon"
		android:theme="@android:style/Theme.Holo"
		android:label="SMS Unlocker(All Screenlock)">
		
		<meta-data android:name="com.google.android.gms.version"
		 android:value="@integer/google_play_services_version"/>
		<activity android:name="com.google.android.gms.ads.AdActivity"
		  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="SMS Unlocker(All Screenlock)"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".smsunlocker">
		</service>
		<receiver android:name=".smsunlocker$smsunlocker_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".about"
			android:label="SMS Unlocker(All Screenlock)"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".ads"
			android:label="SMS Unlocker(All Screenlock)"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".s1">
		</service>
		<receiver android:name=".s1$s1_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
			<intent-filter>
			    <action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>